* {
    margin: 0;
    padding: 0;

}

:root {
    --blue: #1d538a;
    --darkgreen: #40513b;
    --lightgren: #9dc08b;
    --green: #609966;
    --beige: #EDF1d6;
}

nav {
    width: auto;
    height: 4rem;
    background-color: var(--green);
    overflow: hidden;
}

nav img {
    float: left;
    padding: 0%;
    margin: 0.5rem 0rem 1rem 1rem;
    width: 5%;
    border-radius: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

nav button {
    margin: 1.2rem 3rem 1rem 1rem;
    float: right;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition: all .2s ease;
}

nav button:hover {

    background-size: cover;
    -webkit-transform: scale(1.25);
}

body {
    background-color: beige;
}

/* ----------------- MAIN --------------------  */

main {
    padding: 1%;

}

.calificacion {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2%;
    justify-content: center;
    align-items: center;
 
    /* position: -webkit-sticky; 
	position: sticky;
	top: 0;	 */
    /* HACER ESTA SECCION STICKY */
}

.infoProd {
    padding: 2%;
    margin: 3%;
}

#producto {
    font-size: 200%;
}

#vendedor {
    font-size: 200%;
    font-weight: bold;

}

#division {
    display: flex;
    flex-direction: row;
}

#promedio {
    font-size: 600%;
    padding: 3%;
    margin: auto;
}

.resena {
    display: flex;
    justify-content: center;
}

.resena button {
    align-self: center;
    background-color: var(--green);
    border: none;
    color: white;
    padding: 1% 30%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px
}

.FotoProducto {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */

    /*     margin: auto;
    padding-left: auto;
    padding-right: auto; */

}

.FotoProducto img {
    max-width: 40%;
    max-height: 40%;
}

hr {
    border-top: 2px line;
    margin: auto;

}

/* ------------------ POP UP ------------------ */
.likert li {
    margin: 0 5px;
    float: left;
    list-style-type: none;
    margin-left: 1%;
  }

  .likert {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.form-popup{
    background-color: var(--green);
    width: 40%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

#form-container {
    text-align: center;
}

#form-container h1 {
    margin-bottom: 20px;
    color: white;
}

#form-container label{
    font-weight: bold;
    color: white;
    padding: 3%;
}

#form-container input {
    margin: 0 5px;
}
#form-container textarea {
    width: calc(100% - 20px);
    /* Subtracting 20px for padding */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    overflow: auto;
}




#form-container button {
    background-color: var(--blue);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#form-container button.cancel {
    background-color: var(--red);
}

#form-container button:hover {
    background-color: #0d355d;
}

#form-container button.cancel:hover {
    background-color: #b30000;
}

/*  ------------------ COMMENT ------------------  */
section {
    padding: 4%;
    padding-left: 20%;
    padding-right: 20%;

}

.comentarios {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(236, 236, 236);
}

#titulo{
    font-size: 200%;
    padding-bottom: 3%;
}

#division {
    display: flex;
    margin-top: 2%;
}

#profileImg {
 margin-top: 1%;
    width: 80px;
    height: 80px;
    padding: 0.5%;

}

#comentInfo {
    padding-top: 1%;
    padding-left: 1%;
}

#comentInfo p{
    padding-bottom: 5%;
}

.checked {
    color: orange;
}

.input-control .error {
    color: red;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    height: 20px;
    margin-bottom: 20px;
}



#comentInfo {
    flex-grow: 1; /* Allow the content to expand and fill the available space */
    padding-left: 10px; /* Add some padding to separate the image from the content */
}

#profileImg {
    width: 80px;
    height: 80px;
    padding: 0.5%;
}

/*footer*/

.container {
    width: 100%;
}

.footer {

    background-color: var(--darkgreen);
    padding: 60px 0;
}

.footer-row {
    display: flex;
    justify-content: center;
}

.footer-links {
    width: 15%;
    padding: 0 10px;
}

.footer-desc {
    text-align: center;
    width: 35%;
    margin: 0 15rem 0 8.7rem;
}

.footer-desc h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: white;
    font-style: oblique;
}

.footer-desc p {
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 200;
    font-style: oblique;
    font-size: 1.2rem;


}

.footer-links h4 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 2px solid var(--blue);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: var(--beige);
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .3s ease;
    
}

.footer-links ul li a:hover {
    color: white;
    padding-left: 6px;
}