* {
    margin: 0;
    padding: 0;

}

:root {
    --blue: #1d538a;
    --darkgreen: #40513b;
    --lightgren: #9dc08b;
    --green: #609966;
    --beige: #EDF1d6;
    --darkbeige: rgb(233, 237, 201);
}

body {
    background-color: beige;
    background-color: var(--beige);
    font-family: Arial, Helvetica, sans-serif;
}



/*  ------------------ Apartado de arriba ------------------  */

#contenidoArriba {
    display: flex;

}

#profileImg {  
    width: 50px; 
    height: 50px; 
}

#vendedor{
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;

}

#vendedorDerecha h3 {
    padding-left: 30px;
    font-size: 30px
}

#vendedorDerecha {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;


}

#vendedorIzquierda {
    margin-left: auto;
}

#vendedorIzquierda img {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

/*  ------------------ Producto ------------------  */

#lineaProducto {
    display: flex;
    flex-wrap: wrap; /* Ensure items wrap to new line if container is too narrow */
    overflow-y: auto; /* Enable vertical scrollbar */
    max-height: 80vh; /* Limit the maximum height of the container to 80% of the viewport height */
    padding-right: 20px; /* Add right padding to compensate for scrollbar width */
}

#producto {
    flex: 0 0 calc(33.33% - 20px); /* Adjust product width to fit three items in a row */
    margin: 1%;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3%;
    background: var(--darkbeige);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

#producto a{
    text-decoration: none;
    color: black;
}
#producto img {
    padding: 5px;
    border: 3px solid #555;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    cursor: pointer;
    margin-bottom: 6%;
    
}

#producto h4 {
    font-size: 20px;
    cursor: pointer;
}

#producto h5 {
    font-size: 13px;
    cursor: pointer;
}

.buyButton {
    background-color: var(--blue);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.buyButton:hover {
    background-color: var(--darkgreen);
}

#division {
    border: 1.5px dashed var(--blue);
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.hidden-id{

    display: none
}

