*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: auto;
    width: auto;
}

.contenedor-productos{
    width: 50%;
    overflow: hidden;
    height: auto;
    margin: 2rem 17rem 11rem 27rem;
    padding: 2rem;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    justify-content: center;

}

.contenedor-productos2{
    width: 50%;
    overflow: hidden;
    height: auto;
    margin: 2rem 17rem 11rem 27rem;
    padding: 2rem;
    display: block;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    
}

form{
    width: auto;
}
form img{
    margin: 1rem 2.5rem 1rem 2.5rem;
}
h2{
    margin: 2rem 0rem 0rem 0rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
}
.wrapper-3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
}
.input-control label{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 1rem 0rem 0rem 0rem;
    display: block;
}
.input-control label[value="imagen"]{
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    display: block;
}
.input-control input{
    border: 1px solid #000000;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
}
input[type="file"] {
    display: none;
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
.input-control .error {
    color: #ff3860;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    height: 13px;
}
form input:focus{
    border-color: #609966; /* Cambia el color del borde cuando está enfocado */
    outline: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-file-input{
    
    border: 1px solid #000000;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
    cursor: pointer;
    -webkit-transition:all .2s ease;
}
label[for="file-upload"]{
    margin-top: 2rem ;
}
.custom-file-input:hover{
    background-color: #057915;
    color:white;
    background-size:cover;
    border: none;
    -webkit-transform:scale(1.25);
}


.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.botones a{
    text-decoration: none;
    color: black;
}
.botonAgregar{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.botones button{
    margin: 2rem 2rem 0rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    height: 2.3rem;
    border:none;
    border-radius: 2px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    -webkit-transition:all .2s ease;
    box-shadow: rgba(0, 0, 0, 0.267) 3px 5px 5px 3px;
}
.botonAgregar button{
    margin-bottom: 2rem;
    padding: 0rem 1rem 0rem 1rem;
    height: 2.3rem;
    border:none;
    border-radius: 2px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    -webkit-transition:all .2s ease;
    box-shadow: rgba(0, 0, 0, 0.267) 3px 5px 5px 3px;
   
}
.botonAgregar button[value="Guardar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #62c462;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="agregar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #62c462;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="buscar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #6284c4;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="editar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #e6c614;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="eliminar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #b61a05;
    color: white;
    -webkit-transform:scale(1.25);
}


/*TABLA */


.tabla{
    margin-top: 2rem;
}
.tabla table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    
}
.tabla td{
    font-family: "Roboto", sans-serif;
}
.tabla th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}
.tabla th{
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
}
.tabla tr:hover {
    background-color: #d1d1d1b4;
}