* {
	box-sizing: border-box;
    margin: 0px;
}
:root{
    --blanco-suave: #f1f5e3;
    --verde-claro: #9dc08b;
    --verde: #609966;
    --verde-oscuro: #40513b;
    --azul: #1d538a;
    --blanco: #ffffff;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    width: auto;
    height: 4rem;
    background-color: var(--verde);
    overflow: hidden;
}
header img{
    float: left;
    padding: 0%;
    margin: 0.5rem 0rem 1rem 1rem;
    width: 5%;
}
header a{
    color: white;
    text-decoration: none;
}
header button{
    margin: 1.2rem 3rem 1rem 1rem;
    float: right;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size:130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition:all .2s ease;
}
header button:hover{
    
    background-size:cover;
    -webkit-transform:scale(1.25);
}

main {
    
    flex: 1;
    
    display: flex;
}

aside {
	
	width: 200px;
    border-radius: 5px;
    
}

.page-content {
	
    flex: 1;
    display: flex;
    flex-direction: column;
}


.title-container {
	
    display: flex;
    justify-content: space-around;
    height: 250px;
    flex-direction: column;
}

.table-container {
	border: 3px, solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

/* Estilo para el texto "Completado" con apariencia de botón */
.estado-completado {
    background-color: lightgreen;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

.estado-en-proceso {
    background-color: lightsalmon;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

.estado-cancelado {
    background-color: lightcoral;
    color: black;
    padding: 8px 12px;
    border-radius: 4px;
    display: inline-block;
}

.done-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
}

.done-button:hover {
    text-decoration: underline;
}

.action-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: inherit;
    color: inherit;
}

.action-button:hover {
    text-decoration: underline;
}




table {
	
    width: 100%;
    text-align: justify;
}

.sidebar_nav{
    height: 100%;
    width: 190px;
    padding-top: 20px; 
    left: 0;
    background-color: #1d538a;
    border-radius: 5px;
    
}

.sidebar_nav a{
    padding: 20px; /* Aleja los botones */
    text-decoration: none; /* No lo subraya */
    color: black;
    font-size:13px; /* tamaño de letra del sidebar */
    color: white; /* el texto sea de colores */
    display: flex; /* Utilizamos flexbox para alinear verticalmente */
    align-items: center; /* Alineamos verticalmente el contenido */
   
    
}




.sidebar_nav a:hover{
    font-weight: 500;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    
}