@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
:root{
    --blanco-suave: #f1f5e3;
    --verde-claro: #9dc08b;
    --verde: #609966;
    --verde-oscuro: #40513b;
    --azul: #1d538a;
    --blanco: #ffffff;
}
body{
    width: auto;
    height: auto;
    margin: auto;
    background-color: var(--blanco-suave);
}

h2{
    margin: 40px 15px;
    font-family: "Roboto", sans-serif;
}
h1{
    color: #f1f5e3;
    text-align: left;
    margin-left: 25px;
    font-family: "Roboto", sans-serif;
}
nav{
    width: auto;
    height: 4rem;
    background-color: var(--verde);
    overflow: hidden;
}
nav img{
    float: left;
    padding: 0%;
    margin: 0.5rem 0rem 1rem 1rem;
    width: 5%;
    border-radius: 1rem;
}
nav a{
    color: white;
    text-decoration: none;
}
nav button{
    margin: 1.2rem 3rem 1rem 1rem;
    float: right;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size:130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition:all .2s ease;
}
nav button:hover{
    
    background-size:cover;
    -webkit-transform:scale(1.25);
}

.separador{
    width: 100%;
    border: 2px #40513b solid ;
}
.productos{
    display: flex;
    background-color: var(--blanco);
    border-radius: 10px;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.56) 1px 1px 70px 1px;
    
}

section button{
    display: flex;
    margin: 10px 0 10px 0;
    margin-left: 85%;

}
article{
    border: 2px solid black;
    width: 350px;
    margin: 15px;
    padding: 5px;
    text-align: center;
}
article h3{
    margin: 2px;
    font-family: "Roboto", sans-serif;
}
article img{
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 20px;
}

ul{
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.56) 1px 1px 70px 1px;
    display: flex;
    justify-content:space-around;
    width: 70%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

ul img{
    width: 300px;
    height: 300px;
    padding: 5px;
}

#registro{
    background-color: var(--verde-oscuro);
    height: 300px;
}
#registro h2{
    color: #f1f5e3;
    margin: 50px;
    margin-bottom: 10;
    border-bottom: 2px solid #ffffff;
}
#registro p{
    color: var(--blanco-suave);
    font-size: medium;
    text-align: justify;
    padding: 10px;
    margin:5px;
    margin-left: 50px;
    font-family: "Roboto", sans-serif;
}
input{
    margin: 25px;
    padding: 5px;
    text-align: justify;
    margin-left: 85%;
}
#registro input{
    background-color: var(--verde);
    border: none;
    color: var(--blanco);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 30px 0px 0px;
    width: 10%;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    float: right;
    -webkit-transition:all .3s ease;
}

#registro input:hover{
    -webkit-transform:scale(1.2);
}

/* FOOTER */ 

.container{
    width: 100%;
}
.footer{
    margin-top: 3rem;
    background-color: var(--verde-oscuro);
    padding:60px 0;
}
.footer-row{
    display:flex;
    justify-content: center;
}

.footer-links{
    width: 15%;
    padding: 0 10px;
}
.footer-desc{
    text-align: center;
    width: 35%;
    margin: 0 15rem 0 8.7rem;
}
.footer-desc h2{
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: var(--blanco);
    font-style: oblique;
}
.footer-desc p{
    font-family: "Roboto", sans-serif;
    color: var(--blanco);
    font-weight: 200;
    font-style: oblique;
    font-size: 1.2rem;
    
    
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 2px solid var(--azul);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--blanco-suave);
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: var(--blanco);
    padding-left: 6px;
}