* {
	box-sizing: border-box;
    margin: 0px;
}

:root{
    --blanco-suave: #f1f5e3;
    --verde-claro: #9dc08b;
    --verde: #609966;
    --verde-oscuro: #40513b;
    --azul: #1d538a;
    --blanco: #ffffff;
}


body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header{
    width: auto;
    height: 4rem;
    background-color: var(--verde);
    overflow: hidden;
}
header img{
    float: left;
    padding: 0%;
    margin: 0.5rem 0rem 1rem 1rem;
    width: 5%;
}
header a{
    color: white;
    text-decoration: none;
}
header button{
    margin: 1.2rem 3rem 1rem 1rem;
    float: right;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size:130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition:all .2s ease;
}
header button:hover{
    
    background-size:cover;
    -webkit-transform:scale(1.25);
}



main {
    
    flex: 1;
    display: flex;
}

aside {
	
	width: 188px;
}

.page-content {
	
    flex: 1;
    display: flex;
    flex-direction: column;
}

.dates-container {
	
    display: flex;
    justify-content: right;
}


.title-container {
	
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.title-buttons-container {
    
    display: flex;
    justify-content: space-between;
    padding: 20px;
}


.title-buttons label {
    margin-right: 5px; /* Agrega espacio entre cada label */
}

.title-buttons select{
    margin-right: 20px;
}


.title-buttons2{
   
    display: flex;
    justify-content: start;
    padding: 40px;
    gap: 20px;

}
			

.table-container {
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

table {
	
    width: 90%;
    margin: 20px;
}
.sidebar_nav{
    height: 100%;
    width: 190px;
    padding-top: 20px; 
    left: 0;
    background-color: #1d538a;
    border-radius: 5px;
    
}

.sidebar_nav a{
    padding: 20px; 
    text-decoration: none; 
    color: black;
    font-size:13px; 
    color: white; 
    display: flex; 
    align-items: center; 
   
    
}

.sidebar_nav a:hover{
    font-weight: 500;
    background-color: black;
    border-radius: 5px;
    padding: 20px;
    
}