@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
:root{
    --blanco-suave: #f1f5e3;
    --verde-claro: #9dc08b;
    --verde: #609966;
    --verde-oscuro: #40513b;
    --azul: #1d538a;
    --blanco: #ffffff;
}
body{
    width: auto;
    height: auto;
    margin: auto;
    background-color: var(--blanco-suave);
}


nav{
    width: auto;
    height: 4rem;
    background-color: var(--verde);
    overflow: hidden;
}
nav img{
    float: left;
    padding: 0%;
    margin: 0.5rem 0rem 1rem 1rem;
    width: 5%;
    border-radius: 1rem;
}
nav a{
    color: white;
    text-decoration: none;
}
nav button{
    margin: 1.2rem 3rem 1rem 1rem;
    float: right;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size:130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition:all .2s ease;
}
nav button:hover{
    
    background-size:cover;
    -webkit-transform:scale(1.25);
}


/* BODY */

.contenedor-productos{
    width: 70%;
    overflow: hidden;
    height: auto;
    margin: 5rem 17rem 0rem 17rem;
    display: flex;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    justify-content: center;

}
form{
    width: auto;
}
form h2{
    margin: 2rem 0rem 2rem 0rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
    grid-auto-rows: minmax(100px, auto);
}
.input-control label{
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    margin: 1rem 0rem 0rem 0rem;
    display: block;
}
.input-control input{
    border: 1px solid #000000;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
}
input[type="file"] {
    display: none;
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
.input-control .error {
    color: #ff3860;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    height: 13px;
}
form input:focus{
    border-color: #609966; /* Cambia el color del borde cuando está enfocado */
    outline: 0;
}

.custom-file-input{
    
    border: 1px solid #000000;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 90%;
    cursor: pointer;
    -webkit-transition:all .2s ease;
}
label[for="file-upload"]{
    margin-top: 2rem ;
}
.custom-file-input:hover{
    background-color: #057915;
    color:white;
    background-size:cover;
    border: none;
    -webkit-transform:scale(1.25);
}


.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.botones button{
    margin: 2rem 2rem 0rem 1rem;
    padding: 0rem 1rem 0rem 1rem;
    height: 2.3rem;
    border:none;
    border-radius: 2px;
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    -webkit-transition:all .2s ease;
    box-shadow: rgba(0, 0, 0, 0.267) 3px 5px 5px 3px;
}
.botones button[value="agregar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #62c462;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="buscar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #6284c4;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="editar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #e6c614;
    color: white;
    -webkit-transform:scale(1.25);
}
.botones button[value="eliminar"]:hover{
    animation: bubble 0.4s ease-out;
    background-color: #b61a05;
    color: white;
    -webkit-transform:scale(1.25);
}


/*TABLA */


.tabla{
    margin-top: 2rem;
}
.tabla table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
    
}
.tabla td{
    font-family: "Roboto", sans-serif;
}
.tabla th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}
.tabla th{
    background-color: #f0f0f0;
    font-family: "Roboto", sans-serif;
}
.tabla tr:hover {
    background-color: #d1d1d1b4;
}

/*footer*/
.container{
    width: 100%;
}
.footer{
    margin-top: 3rem;
    background-color: var(--verde-oscuro);
    padding:60px 0;
}
.footer-row{
    display:flex;
    justify-content: center;
}

.footer-links{
    width: 15%;
    padding: 0 10px;
}
.footer-desc{
    text-align: center;
    width: 35%;
    margin: 0 15rem 0 8.7rem;
}
.footer-desc h2{
    font-family: "Roboto", sans-serif;
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
    color: var(--blanco);
    font-style: oblique;
}
.footer-desc p{
    font-family: "Roboto", sans-serif;
    color: var(--blanco);
    font-weight: 200;
    font-style: oblique;
    font-size: 1.2rem;
    
    
}

.footer-links h4{
    font-size: 20px;
    color: #ffffff;
    font-weight: 500;
    border-bottom: 2px solid var(--azul);
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a{
    font-size: 18px;
    text-decoration: none;
    color: var(--blanco-suave);
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: var(--blanco);
    padding-left: 6px;
}