* {
	margin: 0;
	padding: 0;

}

:root {
	--blue: #1d538a;
	--darkgreen: #40513b;
	--lightgren: #9dc08b;
	--green: #609966;
	--beige: #EDF1d6;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--beige);
}

nav{
    width: auto;
    height: 4rem;
    background-color: var(--green);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
nav img{
    float: left;
    padding: 0%;
    margin: 0.5rem 80rem 1rem 1rem;
    width: 5%;
}
.botones{
    margin-top: 0.5rem;
    width: 100%;
}

nav button{
    width: 20%;
    margin: 0rem;
    background: none;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size:130%;
    color: #ffffff;
    font-weight: 700;
    -webkit-transition:all .2s ease;
}
nav button:hover{
    
    background-size:cover;
    -webkit-transform:scale(1.25);
}

h2 {
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 20px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"], input[type="number"], input[type="password"],input[type="email"]  {
    width: calc(100% - 20px); 
    padding: 10px;
    margin: 5px 0px 5px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}
.irVendedor{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
body a:hover{
    color: purple;
}


button {
    background-color: var(--green);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder{
    opacity: 0.6;
    font-style: oblique;
}
.input-control{
    height: 6rem;
}
.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 80%;
}
.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
.input-control .error {
    color: #ff3860;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    height: 5px;
}
form input:focus{
    border-color: #609966; /* Cambia el color del borde cuando está enfocado */
    outline: 0;
}



